:root {
  --white: #F5F3F1;
  --blue_base: #163A63;
  --blue_light: #005C9A;
  --blue_darck: #202C4D;
  --Green_base: #006E67;
  --Green_light: #32B1B4;
  --Green_darck: #00534E;
  --Purple_base: #522360;
  --Purple_light: #921C81;
  --Purple_darck: #3C2251;
  --Yellow_base: #F6A800;
  --Yellow_light: #FDD044;
  --Yellow_darck: #D57B00;
}
