:root {
  --white: #F5F3F1;
  --blue_base: #163A63;
  --blue_light: #005C9A;
  --blue_dark: #202C4D;
  --green_base: #006E67;
  --green_light: #32B1B4;
  --green_dark: #00534E;
  --purple_base: #522360;
  --purple_light: #921C81;
  --purple_dark: #3C2251;
  --yellow_base: #F6A800;
  --yellow_light: #FDD044;
  --yellow_dark: #D57B00;
}
